@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* layout */
html{font-size:16px;}
body{position:relative;font-family:'Noto Sans KR', 'NotoSansCJKsc', sans-serif;font-weight:400;color:#333;letter-spacing:-0.025rem;/* iOS 특정 텍스트 확대 문제 해결 */-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;overflow-x:hidden;}

.wrap{position:relative;height:100vh;}
.wrap.end:after{content:'';position:fixed;top:0;left:0;z-index:10;width:100%;height:100%;background:rgba(0,0,0,0.6);}
.header-wrap{padding:40px 0;box-sizing:border-box;}
.header-wrap .score{font-size:45px;line-height:50px;color:#03ff33;font-weight:600;text-align:center;}
.header-wrap p{display:none;}
.container{position:relative;margin:0 auto;max-width:1920px;height:calc(100% - 330px);text-align:center;}
.off .container{height:auto;}
.footer-wrap{position:fixed;bottom:0;padding:20px 0;width:100%;background:#eaeaea;box-sizing:border-box;}
.off .footer-wrap{position:static;}
.footer-wrap .copyright{margin:0 auto;max-width:1920px;font-size:14px;line-height:20px;color:#888;font-weight:200;text-align:center;}

/* game background */
.game{position:absolute;top:50%;left:50%;padding:20px 0;transform:translate(-50%, -50%);}
.off .game{display:inline-block;position:relative;top:unset;left:unset;margin:0 auto;transform:unset;}
.snakeTable{margin:0 auto;}
.snakeTable div{display:table;table-layout:fixed;min-width:595px;}
.snakeTable div span{display:table-cell;width:35px;height:35px;box-sizing:border-box;}
.snakeTable div:nth-of-type(2n-1) span:nth-of-type(2n-1){background-color:#c9fdd7;}
.snakeTable div:nth-of-type(2n) span:nth-of-type(2n){background-color:#c9fdd7;}
.snakeTable div:nth-of-type(2n-1) span:nth-of-type(2n-1).snake,
.snakeTable div:nth-of-type(2n) span:nth-of-type(2n).snake{background-color:#c9fdd7;}
.snakeTable div:nth-of-type(2n-1) span:nth-of-type(2n-1).apple,
.snakeTable div:nth-of-type(2n) span:nth-of-type(2n).apple{background-color:#c9fdd7;}
.snakeTable div span.snake{position:relative;background-image:url("data:image/svg+xml,%3Csvg id='Icons' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-4%7Bfill:none;stroke:%2345413c;stroke-linecap:round;stroke-linejoin:round%7D.cls-10%7Bfill:%2345413c%7D.cls-6%7Bfill:%23ffaa54%7D%3C/style%3E%3C/defs%3E%3Cg data-name='&lt;Group&gt;' id='_Group_'%3E%3Ccircle cx='24' cy='20.5' data-name='&lt;Ellipse&gt;' id='_Ellipse_' r='20' style='fill:%23ffe500'/%3E%3Cpath d='M24 .5a20 20 0 1 0 20 20 20 20 0 0 0-20-20Zm0 37a18.25 18.25 0 1 1 18.25-18.25A18.25 18.25 0 0 1 24 37.5Z' data-name='&lt;Compound Path&gt;' id='_Compound_Path_' style='fill:%23ebcb00'/%3E%3Cellipse cx='23.77' cy='7.29' data-name='&lt;Ellipse&gt;' id='_Ellipse_2' rx='6' ry='1.5' style='fill:%23fff48c'/%3E%3Ccircle class='cls-4' cx='24' cy='20.5' data-name='&lt;Ellipse&gt;' id='_Ellipse_3' r='20'/%3E%3Cellipse cx='24' cy='44.79' data-name='&lt;Ellipse&gt;' id='_Ellipse_4' rx='16' ry='1.5' style='opacity:.15;fill:%2345413c'/%3E%3Cpath class='cls-6' d='M40 25.5c0 .83-1.12 1.5-2.5 1.5s-2.5-.67-2.5-1.5 1.12-1.5 2.5-1.5 2.5.67 2.5 1.5Z' data-name='&lt;Path&gt;' id='_Path_'/%3E%3Cpath class='cls-6' d='M8 25.5c0 .83 1.12 1.5 2.5 1.5s2.5-.67 2.5-1.5-1.12-1.5-2.5-1.5-2.5.67-2.5 1.5Z' data-name='&lt;Path&gt;' id='_Path_2'/%3E%3Cg data-name='&lt;Group&gt;' id='_Group_2'%3E%3Cpath d='M16.47 26.93c.5 8 5.09 11 6.85 12a1.37 1.37 0 0 0 1.36 0c1.76-1 6.35-3.92 6.85-12a1.37 1.37 0 0 0-1.38-1.45h-12.3a1.37 1.37 0 0 0-1.38 1.45Z' data-name='&lt;Path&gt;' id='_Path_3' style='fill:%23ffb0ca;stroke:%2345413c;stroke-linecap:round;stroke-linejoin:round'/%3E%3C/g%3E%3Cg data-name='&lt;Group&gt;' id='_Group_3'%3E%3Cpath d='M24 32.8c0-1.88 5.65-1.33 5.65.63v8.16a5.65 5.65 0 0 1-11.3 0v-8.16c0-1.96 5.65-2.51 5.65-.63Z' data-name='&lt;Path&gt;' id='_Path_4' style='fill:%236dd627'/%3E%3Cpath d='M24 32.8c0-1.88-5.65-1.33-5.65.63v2.51c0-2 11.3-2 11.3 0v-2.51c0-1.96-5.65-2.51-5.65-.63Z' data-name='&lt;Path&gt;' id='_Path_5' style='fill:%2346b000'/%3E%3Cpath class='cls-4' d='M24 32.8c0-1.88 5.65-1.33 5.65.63v8.16a5.65 5.65 0 0 1-11.3 0v-8.16c0-1.96 5.65-2.51 5.65-.63Z' data-name='&lt;Path&gt;' id='_Path_6'/%3E%3C/g%3E%3Cpath class='cls-10' d='M13.66 20.79V19l-.76-.25a3.21 3.21 0 0 1-.79-.37 1.68 1.68 0 0 1-.53-.59 1.83 1.83 0 0 1-.2-.89 2.23 2.23 0 0 1 .31-1.17 2.25 2.25 0 0 1 .82-.83 2.7 2.7 0 0 1 1.15-.38V13.91a.28.28 0 0 1 .08-.15.26.26 0 0 1 .2-.07q.2 0 .24.12a1.07 1.07 0 0 1 .05.38v.33a3.38 3.38 0 0 1 1.25.27.83.83 0 0 1 .6.77.76.76 0 0 1-.2.55.62.62 0 0 1-.51.23 1.67 1.67 0 0 1-.55-.13 3.58 3.58 0 0 0-.59-.16v1.42a8.23 8.23 0 0 1 1.21.43 2.1 2.1 0 0 1 .84.68 2 2 0 0 1 .36 1.26 2.44 2.44 0 0 1-.19.95 2.07 2.07 0 0 1-.52.75 2.45 2.45 0 0 1-.78.51 2.88 2.88 0 0 1-.92.22v.34a1.61 1.61 0 0 1 0 .26.24.24 0 0 1-.07.17.26.26 0 0 1-.2.07c-.13 0-.21 0-.24-.13a1.13 1.13 0 0 1-.05-.37v-.31a6.14 6.14 0 0 1-1-.12 2.16 2.16 0 0 1-.9-.37.79.79 0 0 1-.38-.67.77.77 0 0 1 .2-.54.67.67 0 0 1 .51-.22 2.85 2.85 0 0 1 .77.19 5 5 0 0 0 .79.22Zm0-3.49v-1.21a.84.84 0 0 0-.4.23.6.6 0 0 0-.16.41.45.45 0 0 0 .14.33 1.55 1.55 0 0 0 .42.24Zm.58 1.89v1.55a.84.84 0 0 0 .5-.31.87.87 0 0 0 .19-.54c0-.31-.23-.54-.69-.7Z' data-name='&lt;Group&gt;' id='_Group_4'/%3E%3Cpath class='cls-10' d='M34.66 20.79V19l-.76-.25a3.39 3.39 0 0 1-.79-.37 1.68 1.68 0 0 1-.53-.59 1.83 1.83 0 0 1-.2-.89 2.32 2.32 0 0 1 .31-1.17 2.25 2.25 0 0 1 .82-.83 2.7 2.7 0 0 1 1.15-.38v-.33a1.91 1.91 0 0 1 0-.28.21.21 0 0 1 .07-.15.26.26 0 0 1 .2-.07q.19 0 .24.12a1.07 1.07 0 0 1 .05.38v.33a3.38 3.38 0 0 1 1.25.27.83.83 0 0 1 .6.77.8.8 0 0 1-.19.55.65.65 0 0 1-.52.23 1.67 1.67 0 0 1-.55-.13 3.58 3.58 0 0 0-.59-.16v1.42a8.85 8.85 0 0 1 1.22.43 2.07 2.07 0 0 1 .83.68 2 2 0 0 1 .36 1.26 2.44 2.44 0 0 1-.19.95 2.07 2.07 0 0 1-.52.75 2.52 2.52 0 0 1-.77.51 3 3 0 0 1-.93.22V22.87a.3.3 0 0 1-.08.17.26.26 0 0 1-.2.07.23.23 0 0 1-.24-.13 1.13 1.13 0 0 1-.05-.37v-.31a6.27 6.27 0 0 1-1-.12 2.22 2.22 0 0 1-.9-.37.79.79 0 0 1-.38-.67.77.77 0 0 1 .2-.54.67.67 0 0 1 .51-.22 2.77 2.77 0 0 1 .77.19 5 5 0 0 0 .81.22Zm0-3.49v-1.21a.84.84 0 0 0-.4.23.6.6 0 0 0-.16.41.45.45 0 0 0 .14.33 1.55 1.55 0 0 0 .42.24Zm.58 1.89v1.55a.84.84 0 0 0 .5-.31.81.81 0 0 0 .19-.54c0-.31-.23-.54-.69-.7Z' data-name='&lt;Group&gt;' id='_Group_5'/%3E%3Ccircle cx='24' cy='39.63' data-name='&lt;Path&gt;' id='_Path_7' r='3.04' style='fill:%23c8ffa1'/%3E%3Cpath class='cls-10' d='M23.71 41.65v-1.54L23 39.9a3.31 3.31 0 0 1-.68-.32 1.41 1.41 0 0 1-.46-.51 1.55 1.55 0 0 1-.17-.78 1.94 1.94 0 0 1 .26-1 2 2 0 0 1 .72-.72 2.41 2.41 0 0 1 1-.33v-.29a1.63 1.63 0 0 1 0-.24.27.27 0 0 1 .07-.14.25.25 0 0 1 .17 0c.11 0 .18 0 .21.1a1.22 1.22 0 0 1 0 .33v.29a3 3 0 0 1 1.09.24.73.73 0 0 1 .52.66.77.77 0 0 1-.17.49.59.59 0 0 1-.45.2 1.49 1.49 0 0 1-.48-.12 2.5 2.5 0 0 0-.51-.14v1.23a8.08 8.08 0 0 1 1.05.38 1.79 1.79 0 0 1 .73.59 1.74 1.74 0 0 1 .31 1.09 2 2 0 0 1-.61 1.49 2.38 2.38 0 0 1-.68.43 2.41 2.41 0 0 1-.8.2v.52a.26.26 0 0 1-.07.15.24.24 0 0 1-.17.06.21.21 0 0 1-.21-.11 1 1 0 0 1 0-.33V43a5.53 5.53 0 0 1-.9-.11 2.08 2.08 0 0 1-.79-.32.7.7 0 0 1-.28-.57.63.63 0 0 1 .17-.46.55.55 0 0 1 .45-.19 2.15 2.15 0 0 1 .66.16 3.42 3.42 0 0 0 .73.14Zm0-3v-1.09a.73.73 0 0 0-.35.21.51.51 0 0 0-.14.36.38.38 0 0 0 .12.28 1.34 1.34 0 0 0 .37.21Zm.5 1.64v1.35a.7.7 0 0 0 .43-.27.71.71 0 0 0 .17-.47c0-.3-.2-.5-.6-.64Z' data-name='&lt;Group&gt;' id='_Group_6'/%3E%3C/g%3E%3C/svg%3E")! important;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.snakeTable div span.apple{position:relative;background-image:url("data:image/svg+xml,%3Csvg height='91' width='91' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.561 37.856c0-4.514 1.76-8.611 4.613-11.674-8.684-3.938-19.766-2.08-23.922.912-2.994 2.018-6.344 0-6.344 0-7.213-5.193-35.301-7-35.477 19.037-.173 24.807 15.079 37.39 20.557 41.139 5.482 3.748 14.92-1.621 14.92-1.621s2.566-1.684 6.344 0c0 0 9.436 5.369 14.918 1.621 4.791-3.273 17.047-13.311 19.939-32.354-8.72-.799-15.548-8.129-15.548-17.06z' fill='%23F16A6D'/%3E%3Cpath d='M33.338 2.403c-3.473 4.363-4.379 10.48-1.76 15.809 2.627 5.334 8.025 8.35 13.598 8.262 3.475-4.359 4.373-10.475 1.754-15.811-2.619-5.334-8.018-8.35-13.592-8.26z' fill='%23ACD263'/%3E%3Cpath d='M84.316 52.656c-7.689-.703-13.488-7.067-13.488-14.8 0-3.76 1.422-7.355 4.006-10.129l2.15-2.309-2.873-1.303c-3.527-1.6-7.703-2.443-12.076-2.443-4.908 0-9.804 1.1-12.922 2.833 1.502-3.707 4.691-8.896 10.969-9.881l-.703-4.48c-3.767.591-6.671 2.237-8.905 4.292a16.883 16.883 0 0 0-1.507-4.772C46.078 3.785 40.182.135 33.578.135L32.23.151l-.666.84c-4.123 5.18-4.916 12.334-2.021 18.223.431.875.936 1.694 1.492 2.466a32.266 32.266 0 0 0-.934-.015c-11.977 0-24.816 6.424-24.938 24.451C4.984 71.523 20.17 84.67 26.709 89.143c1.674 1.145 3.725 1.725 6.096 1.725 5.455 0 10.992-3.115 11.305-3.295.027-.018.699-.404 1.818-.404.744 0 1.523.172 2.314.514.846.465 6.016 3.184 11.111 3.186 2.371 0 4.422-.58 6.096-1.725 5.285-3.611 17.904-14.145 20.902-33.887l.361-2.379-2.396-.222zM33.613 17.212c-1.996-4.063-1.652-8.764.854-12.514 4.496.307 8.439 2.916 10.428 6.965 1.998 4.072 1.658 8.773-.846 12.514a12.805 12.805 0 0 1-2.89-.552 22.67 22.67 0 0 0-1.142-.421 12.43 12.43 0 0 1-6.404-5.992zm29.276 68.186c-.904.619-2.094.932-3.535.932-4.236 0-8.936-2.629-8.98-2.654l-.199-.1c-1.406-.627-2.834-.945-4.246-.945-2.254 0-3.746.801-4.18 1.068-1.34.754-5.436 2.631-8.943 2.631-1.439 0-2.631-.313-3.535-.932C23.33 81.336 9.537 69.377 9.699 46.147 9.82 28.146 24.008 26.2 30.102 26.2c3.122 0 5.921.497 8.071 1.175.521.22 1.054.413 1.598.582.745.317 1.358.65 1.813.978l.154.102c.129.078.91.531 2.067.863-3.16 1.98-6.474.994-6.976.822a2.266 2.266 0 0 0-2.885 1.381 2.266 2.266 0 0 0 1.375 2.896c1.053.375 2.482.658 4.09.658 3.725 0 8.397-1.532 11.526-6.946 2.027-1.28 6.092-2.503 11.099-2.503 2.625 0 5.15.35 7.441 1.021a19.287 19.287 0 0 0-3.184 10.627c0 9.263 6.375 17.019 15.186 18.944-3.291 16.552-13.993 25.458-18.588 28.598z' fill='%23434B56'/%3E%3Cpath d='M19.395 59.713c-.84 0-1.648-.471-2.041-1.277-2.471-5.076-3.002-16.446 1.355-21.155a2.268 2.268 0 1 1 3.328 3.082c-2.617 2.826-2.594 12.003-.605 16.089a2.265 2.265 0 0 1-1.047 3.031c-.319.156-.656.23-.99.23zM21.887 66.713a2.271 2.271 0 0 1-1.609-3.872c.85-.85 2.359-.85 3.211 0 .42.42.67 1 .67 1.602 0 .6-.25 1.18-.67 1.6a2.26 2.26 0 0 1-1.602.67z' fill='%23FFF'/%3E%3C/svg%3E")! important;background-repeat:no-repeat;background-position:center center;background-size:cover;}

/* controller */
.controller{padding:0 0 120px;text-align:center;}
.btn-play{display:inline-block;padding:15px 0;width:100%;max-width:250px;min-height:50px;border-radius:20px;background:#c9fdd7;font-size:30px;line-height:50px;color:#000;font-weight:500;}

.popup_gameOver{display:none;}
.end .popup_gameOver{display:block;position:absolute;top:50%;left:50%;z-index:9999;padding:20px 0;width:25%;min-width:500px;min-height:200px;border-radius:20px;background:#fff;transform:translate(-50%, -50%);text-align:center;}
.end .popup_gameOver h1{padding:20px;font-size:40px;line-height:60px;color:#03ff33;font-weight:600;}

@media screen and (max-width: 768px) {
  /* layout */
  html{font-size:14px;}
  .wrap{height:calc(var(--vh, 1vh)*100);overflow-y:hidden;}
  .header-wrap{padding:20px 10px;}
  .header-wrap .score{font-size:25px;}
  .header-wrap p{display:block;font-size:12px;line-height:16px;text-align:center;}
  .container{height:calc(var(--vh, 1vh)*100 - 242px);}
  .footer-wrap{padding:10px;}

  /* game background */
  .snakeTable div{min-width:255px;}
  .snakeTable div span{width:15px;height:15px;}

  /* controller */
  .controller{padding:0 0 50px;}
  .btn-play{min-height:40px;font-size:22px;line-height:40px;}

  .end .popup_gameOver{min-width:300px;}
}